.loginn_form {
    height: 100%;
    width: 100%;
    background-color: $color-gray-1;
    z-index: 5;
    position: fixed;
    .user_form {
        z-index: 5;
        width: 50%;
        min-height: 20%;
        margin: 0 auto;
        vertical-align: middle;
        transform: translateY(20%);
        background-color: white;
        border-radius: 3px;
    }
}
.loginn_form.hideen {
    display: none;
}

.ck-editor__main {
    .ck-content {
        p {
            word-wrap: anywhere;
        }
    }
}
