.section_new {
    margin: $margin-1 0;
    border-bottom: 1px solid $color-gray-1;
    a {
        @include styleText($font-size-4, $font-weight-1, $color-black-0);
        border-left: 4px solid orange;
        padding-left: $padding-1;
        cursor: pointer;
    }
    .section_content {
        margin-top: $margin-1;

        .section_news {
            width: 18%;
            height: inherit;
            margin: 0 10px;
            margin-top: 10px;
            a {
                border-left: none;
                padding-left: 0px;
                &:hover {
                    transition: all 0.5s;
                    h5 {
                        color: $color-blue-0;
                    }
                }
                img {
                    @include styleImg($width-1, $height-2);
                }
                h5 {
                    @include styleText($font-size-4, $font-weight-1, $color-black-0);
                    line-height: 18px;
                }
                p {
                    @include styleText($font-size-6, $font-weight-2, $color-gray-0);
                }
            }
        }
    }
}
