* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
::placeholder {
  color: red;

  opacity: 1;
}
::-ms-input-placeholder {
  color: blue;
}
::selection {
  background-color: orange;
  color: white;
}
